stash/
node_modules/
public/chats/
public/characters/
public/User Avatars/
public/backgrounds/
public/groups/
public/group chats/
public/worlds/
public/user/
public/css/bg_load.css
public/themes/
public/OpenAI Settings/
public/KoboldAI Settings/
public/NovelAI Settings/
public/TextGen Settings/
public/instruct/
public/context/
public/scripts/extensions/third-party/
public/stats.json
/uploads/
*.jsonl
/config.conf
/config.yaml
/config.conf.bak
/docker/config
/docker/user
/docker/extensions
.DS_Store
public/settings.json
/thumbnails
whitelist.txt
.vscode/**
!.vscode/extensions.json
.idea/
secrets.json
/dist
/backups/
public/movingUI/
public/QuickReplies/
content.log
public/scripts/extensions/third-party/
cloudflared.exe
stats.json
public/notes/update.md
public/notes/readme.md.html
public/notes/2.png
public/notes/1.png
public/notes/content.md
public/notes/faq.md.html
public/notes/update.html
public/assets/
access.log
/vectors/
/cache/
public/characters/Assistente.png
public/characters/Character generator.png
public/characters/Character Provider.png
public/characters/Aqua.png
public/characters/Assistente.png
public/characters/Bing-chan.png
public/characters/Character generator.png
public/characters/Character Provider.png
public/characters/Darkness.png
public/characters/Megumin.png
public/css/user.css
public/ProxyManager/
config.yaml
/plugins/
public/locales/uk_ua.json
public/locales/uk_UA.json
/data

