#Nvkun_settings {
    display: flex;
    flex-direction: column;
}

#Nvkun_settings textarea {
    font-size: calc(var(--mainFontSize) * 0.9);
    line-height: 1.2;
}

label[for="memory_frozen"] {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

label[for="memory_frozen"] input {
    margin-right: 10px;
}

.Nvkun_contents_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
